GLDCustomLineEdit
{
    border: 1px solid #c0c0c0;
    padding: 0px 0px 0px 2px;
    background-color: white;
    selection-background-color:#a1c3ee;
    selection-color:#455059;
}

GLDCustomLineEdit[border = "noBorder"]
{
    border: 0px;
}
